body {
  margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px; /* Optional: ensures no space is taken by the vertical scrollbar */
  height: 0px; /* Optional: ensures no space is taken by the horizontal scrollbar */
}
